*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    height: 80vh;
}
#end-page-section{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.281);
    backdrop-filter: blur(15px);
    z-index: 100;
    position: absolute;
    top: 0;
}
.after-game-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 2em 3rem;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.671);
    background-color: rgba(238, 238, 238, 0.733);
    color: black;
}
#restart-button{
    font-size: 1.5rem;
    font-weight: 900;
    padding: 0.7rem 0.6rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(69, 178, 241);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.486);
    cursor: pointer;
}

header{
    max-width: 50vw;
    max-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.616);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 10px;
    color: rgb(32, 221, 174);
}
main{
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 3rem;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    width: 50%;
    height: 60%;
    padding: 0.5rem;
    box-shadow: 2px 4px 8px black;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.boxes{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    border: 4px solid black;
    cursor: pointer;
    padding: 0.5rem;
}
#box1,#box4,#box7{
    border-top: none;
    border-left:none;
}
#box2,#box3,#box5,#box6{
    border-top: none;
    border-right: none;
}
#box2,#box5,#box8{
    border-left: none;
}
#box8,#box9{
    border-bottom: none;
    border-top: none;
    border-right: none;
}
#box7{
    border-bottom: none;
}

@media (max-width: 480px) {
    header{
        max-width: 90vw;
        border-radius: 15px;
        font-size: 0.9rem;
    }
    .container{
        width: 90%;
    }
}